body {
    font-family: sans-serif;
    background: aliceblue;
}

div.header {
    height: 80px;
}

div.header h1 {
    text-align: right;
    width: auto;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

div.navigation h4 {
    display: block;
    color: #000;
    background-color: #f2f2f2;
}

div.navigation ul {
    list-style-type: none;
    padding: 0;
    width: 20%;
    position: fixed;
    overflow: hidden;
    outline: 2px solid black;
    margin-top: 0;
}

div.navigation li a {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

ul .last {
    border-bottom:2px solid black;
}

div.navigation li .active {
    background-color:cadetblue;
    color: white;
}

div.navigation li a:hover {
    background-color: #555;
    color: white;
}

div.navigation #title a {
    background-color: #8c8c8c;
}

div.content {
    margin-left: 25%;
    float: right;
    margin-right: 5%;
    text-align: justify;
    outline: 2px solid black;
    padding: 10px;
    background: white;
}
