div {
	width: 90em;
	margin: 0 auto;
	padding: 3em;
}

div h1 {
	text-align: center;
}

div p {
	text-align: center;
}

div object {
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 700px;
}
