body {
    font-family: Roboto, sans-serif;
    background: aliceblue;
}

header {
    height: 6em;;
    text-align: right;
    padding-bottom: 10px;
}

#header-container {
    display: flex;
}

#header-content {
    margin-left: auto;
    outline: 2px solid black;
    background: white;
    padding-left: 1em;
    padding-right: 1em;
}

nav {
    width: auto;
}

nav h4 {
    color: #000;
    background-color: #f2f2f2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    outline: 2px solid black;
    margin-top: 0;
}

nav li a {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

ul .last {
    border-bottom:2px solid black;
}

nav li .active {
    background-color:#bfd8d9;
    color: black;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

#external_links {
    display: flex;
}

nav #title a {
    background-color: #8c8c8c;
}

main {
    outline: 2px solid black;
    padding: 10px;
    background: white;
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    header {
        grid-column: 5;
        grid-row: 1;
    }

    nav {
        grid-column: 1;
        grid-row: 2;
    }

    nav ul {
        width: 20%;
        position: fixed;
    }

    main {
        grid-column: 2 / 6;
        grid-row: 2;
        margin-left: 1em;
        float: right;
    }
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

pre, code, kbd, samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
