<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  </head>

  <body>
    <div class="header">
      <div style="margin-right: 5%;">
        <h1>{{ page.title | downcase }}</h1>
      </div>
    </div>

    <div class="navigation">
      <ul>
        <li><a {% if page.title == 'Information' %}class="active"{% endif %} href="index.html">
            {% if page.lang == "en" %}
            Home
            {% else %}
            Accueil
            {% endif %}
          </a></li>
          <li><a {% if page.title == 'About' or page.title == "À Propos"  %}class="active"{% endif %}
                                                                             href="/{{page.lang}}/{% if page.lang == 'en' %}about.html{% else %}apropos.html{% endif %}">
            {% if page.lang == "en" %}
            About
            {% else %}
            À Propos
            {% endif %}
          </a></li>
          <li class="last"><a href="/CV-Juliette-Regimbal-{{ page.lang }}.pdf" target="_blank">CV ({{ page.lang }})</a></li>
        <li class="last" style="display: flex;">
          <a href="https://www.linkedin.com/in/juliette-regimbal/" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/linkedin.png" | prepend: site.baseurl }}" alt="LinkedIn" height="24">
          </a>
          <a href="https://github.com/JRegimbal" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/github.png" | prepend: site.baseurl }}" alt="GitHub" height="24" width="24">
          </a>
          <a href="https://gitlab.com/JRegimbal" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/gitlab.png" | prepend: site.baseurl }}" alt="GitLab" height="24" width="24">
          </a>
          <a href="https://pixelfed.social/jules" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/pixelfed.svg" | prepend: site.baseurl }}" alt="Pixelfed" height="24" width="24">
          </a>
        </li>
        <li style="display: flex">
          <a {% if page.lang == "en" %} class="active" {% else %} href="{{ page.alternate | prepend: site.baseurl }}" {% endif %} style="flex-grow: 1;">en</a>
          <a {% if page.lang == "fr" %} class="active" {% else %} href="{{ page.alternate | prepend: site.baseurl }}" {% endif %} style="flex-grow: 1;">fr</a>
        </li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
