<!doctype html>
{% assign lang = site.active_lang %}
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>Juliette Regimbal - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"">
  </head>

  <body>
    <header>
      <div id="header-container">
          <div id="header-content">
            <h1>
            {% if page.top_title %}
                {{ page.top_title | downcase }}
            {% else %}
                {{ page.title | downcase }}
            {% endif %}
            </h1>
          </div>
      </div>
    </header>

    <nav>
      <ul>
        {% assign navlist = site.pages | where: "lang", lang | sort: "nav_order" %}
        {% for doc in navlist %}
        <li><a {% if page == doc %}class="active"{% elsif doc.lang == site.default_lang %} href="{{doc.url}}" {% else %} href="/{{doc.lang}}{{doc.url}}" {% endif %}>
            {{doc.title}}
        </a></li>
        {% endfor %}
        <li class="last"><a href="/assets/CV-Juliette-Regimbal-{{ lang }}.pdf" target="_blank">CV ({{ lang }})</a></li>
        <li role="group" aria-label="External Profile Links" id="external_links" class="last">

          <a role="menuitem" aria-label="LinkedIn Profile" href="https://www.linkedin.com/in/juliette-regimbal/" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/linkedin.png" | prepend: site.baseurl }}" alt="LinkedIn" height="24">
          </a>
          <a aria-label="GitHub Profile" href="https://github.com/JRegimbal" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/github.png" | prepend: site.baseurl }}" alt="GitHub" height="24" width="24">
          </a>
          <a aria-label="ORCID Profile" href="https://orcid.org/0000-0003-4902-046X" target="_blank" style="flex-grow: 1;">
              <img src="{{ "/assets/ORCIDiD_iconvector.svg" | prepend: site.baseurl }}" alt="ORCID: 0000-0003-4902-046X" height="24" width="24">
          </a>
        </li>
        <li style="display: flex">
          {% for l in site.languages %}
          <a style="flex-grow: 1;" {% if lang == l %} class="active" {% elsif l == site.default_lang %}href=" {{page.url}}"{% else %}href="/{{l}}{{page.url}}"{% endif %}>
            {{ l }}
          </a>
          {% endfor %}
        </li>
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>
  </body>
</html>
