<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{Juliette Regimbal - page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  </head>

  <body>
    <header>
      <div id="header-container">
          <div id="header-content">
            <h1>{{ page.title | downcase }}</h1>
          </div>
      </div>
    </header>

    <nav>
      <ul>
        <li><a {% if page.title == 'Information' %}class="active"{% endif %} href="index.html">
            {% if page.lang == "en" %}
            Home
            {% else %}
            Accueil
            {% endif %}
          </a></li>
          <li class="last"><a href="/CV-Juliette-Regimbal-{{ page.lang }}.pdf" target="_blank">CV ({{ page.lang }})</a></li>
        <li role="group" aria-label="External Profile Links" id="external_links" class="last">

          <a role="menuitem" aria-label="LinkedIn Profile" href="https://www.linkedin.com/in/juliette-regimbal/" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/linkedin.png" | prepend: site.baseurl }}" alt="LinkedIn" height="24">
          </a>
          <a aria-label="GitHub Profile" href="https://github.com/JRegimbal" target="_blank" style="flex-grow: 1;">
            <img src="{{ "/assets/github.png" | prepend: site.baseurl }}" alt="GitHub" height="24" width="24">
          </a>
          <a aria-label="ORCID Profile" href="https://orcid.org/0000-0003-4902-046X" target="_blank" style="flex-grow: 1;">
              <img src="{{ "/assets/ORCIDiD_iconvector.svg" | prepend: site.baseurl }}" alt="ORCID: 0000-0003-4902-046X" height="24" width="24">
          </a>
        </li>
        <li style="display: flex">
          <a {% if page.lang == "en" %} class="active" {% else %} href="{{ page.alternate | prepend: site.baseurl }}" {% endif %} style="flex-grow: 1;">en</a>
          <a {% if page.lang == "fr" %} class="active" {% else %} href="{{ page.alternate | prepend: site.baseurl }}" {% endif %} style="flex-grow: 1;">fr</a>
        </li>
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>
  </body>
</html>
